.main-content {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-category-name {
    font-size: 25px;
    font-weight: bold;
}

.settings-icon {
    cursor: pointer;
}

.remove-icon {
    cursor: pointer;
}

.separator {
    border: 1px solid var(--header-sp);
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    padding: 10px;
}

img {
    width: 20px;
    height: 20px;
}

.task-status-toggle-icon {
    width: 30px;
    height: 30px;
}

.new-task-container {
    display: flex;
    margin-top: auto;
    gap: 10px;
    padding-top: 20px;
}

.new-task-input {
    width: 100%;
}
