.sidebar {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    border-right: 1px solid var(--sidebar-border-right);
}

.sidebar-category-list {
    overflow: scroll;
}

.sidebar-new-category-container {
    margin-top: auto;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    justify-content: space-between;
}

.sidebar-new-category-input {
    width: 142px;
}
