.sidebar-item {
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.25s;
}

.sidebar-item-tasks-count {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 10px 0 10px;
    border-radius: var(--border-radius);
}

.sidebar-item-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar-item-all-tasks {
    outline: 2px solid var(--primary_color);
    margin-bottom: 20px;
}

.sidebar-item-all-tasks-active {
    background-color: var(--primary_color);
    margin-bottom: 20px;
    transition: box-shadow 300ms;
}

.sidebar-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.done-category {
    color: var(--done_color);
    text-decoration: line-through;
}
