.sidebar-item {
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.25s;
}

.sidebar-item-tasks-count {
    color: var(--category-tasks-count-fg);
    background-color: var(--category-tasks-count-bg);
    padding: 0 10px 0 10px;
    border-radius: var(--border-radius);
}

.sidebar-item-active {
    color: var(--selected-category-fg);
    background-color: var(--selected-category-bg);
}

.sidebar-item-all-tasks {
    background: none;
    outline: 2px solid var(--primary_color);
    margin-bottom: 20px;
}

.sidebar-item-all-tasks-active {
    background-color: var(--primary_color);
    margin-bottom: 20px;
    transition: box-shadow 300ms;
}

.sidebar-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.done-category {
    color: var(--done_color);
    text-decoration: line-through;
}
