.task {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: var(--task-bg);
    border-radius: var(--border-radius);
}

.task-status {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task-title {
    color: var(--task_title_color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-desc {
    color: var(--task_desc_color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-text-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task-extra-icon {
    margin-left: auto;
}

.done-task-title {
    color: var(--done-task-title-color);
    text-decoration: line-through;
}

.done-task-desc {
    color: var(--done-task-desc-color);
    text-decoration: line-through;
}

.task-extra-icon {
    display: flex;
    gap: 10px;
}
