@use '../vars';

.category {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    background-color: rgba(#000000, 0.25);
    transition: background-color 0.25s;

    &:hover {
        background-color: rgba(#ffffff, 0.1);
    }
}

.current-category {
    background: vars.$primary !important;
}

.category-tasks-count {
    color: #9b9b9b;
    background: rgba(#ffffff, 0.1);
    padding: 4px 16px 4px 16px;
    margin-left: auto;
    border-radius: 8px;
    align-items: center;
}

.category-tasks-all-done {
    background: rgba(vars.$green, 0.2);
}
