@use '../vars';

.main-content {
    padding: 1rem;
    width: 100%;
    overflow: scroll;
    background-color: rgba(#000000, 0.15);
}

.remove-btn {
    box-shadow: none;
    color: vars.$red;
    padding: 6px 12px 6px 12px;
}

.remove-btn:hover {
    background: rgba(vars.$red, 0.2);
    color: rgba(vars.$red, 0.8);
}
