.task-list-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.filtering-settings {
    align-items: center;
    display: flex;
    gap: 10px;
}
