@use '../vars';

.task {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: rgba(#ffffff, 0.05);
    border-radius: 4px;
}

.task-status {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-desc {
    color: vars.$task_desc_color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title-desc {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task-extra-icon {
    margin-left: auto;
}

.done-task-title {
    color: vars.$done_color;
    text-decoration: line-through;
}

.done-task-desc {
    color: darken(vars.$done_color, 4) !important;
    text-decoration: line-through;
}

.task-extra-icon {
    display: flex;
    gap: 10px;
}
