@use '../vars';

.task {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: rgba(#ffffff, 0.05);
    border-radius: 4px;
}

.task-status {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-desc {
    color: vars.$task_desc_color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title-desc {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task-extra-icon {
    margin-left: auto;
}

.done-task-title {
    color: vars.$done_color;
    text-decoration: line-through;
}

.done-task-desc {
    color: darken(vars.$done_color, 4) !important;
    text-decoration: line-through;
}

.task-extra-icon {
    display: flex;
    gap: 10px;
}

.show-more-icon {
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 50%;
    height: 60%;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: vars.$background_color;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.popup-task-desc {
    flex: 1;
}

.popup-close-detector {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
