.container {
    display: flex;
    max-height: 100vh;
}

.side-bar {
    display: flex;
    gap: 10px;
    overflow: scroll;
    flex-direction: column;
    padding: 1rem;
    width: 300px;
}

.current-category {
    background-color: #396cd8;
}

.new-category-input {
    width: 100px;
}

.main-content {
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px;
    background-color: #0f0f0f69;
    margin: 5px;
    border-radius: 8px;
}

.task-done {
    color: gray;
    text-decoration: line-through;
}

.task-checkbox {
    cursor: pointer;
}

.task-extra {
    margin-left: auto;
}

.remove-task-btn {
    box-shadow: none;
    border-color: #d83939;
    background: #d83939;
    padding: 6px 12px 6px 12px;
}

.remove-task-btn:hover {
    border-color: #d83939;
}
