.container {
    display: flex;
    max-height: 100vh;
}

.side-bar {
    display: flex;
    gap: 10px;
    overflow: scroll;
    flex-direction: column;
    padding: 1rem;
    width: 300px;
}

.current-category {
    background-color: #396cd8;
}

.new-category-input {
    width: 100px;
}

.main-content {
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}
